body { background-color: silver; }

#content {
    background-color: #fff;
    margin-bottom: 50px;
    width: 500px;
}

#deserialize-content {
    height: 300px;
    width: 100%;
}

code {
    background-color: #fff;
    display: block;
}