.wysiwyg {
    background-color: #efefef;
    border-bottom: 1px solid silver;
    padding: 5px 0;
}

.options {
    border-bottom: 1px solid #808080;
    padding-bottom: 15px;
}

.options .row { padding: 5px; }